/* Acceuil section */

#acceuil {
  position: relative;
  padding: 0 4rem;
  height: 100vh;
  background-image: url(../images/acceuil/landing-bg.png);
  background-size: cover;
}

#acceuil nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#acceuil nav .logo {
  max-height: 100px;
}

#acceuil nav .fa-bars {
  display: none;
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all var(--trans-time);
}

#acceuil nav .fa-bars:hover {
  color: var(--main-blue-clr);
  transform: scale(1.1);
}

#acceuil nav .links {
  position: relative;
  display: flex;
}

#acceuil nav .links.show-menu {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

#acceuil nav .links .fa-x {
  display: none;
  transition: all var(--trans-time);
}

#acceuil nav .links .fa-x:hover {
  color: var(--main-blue-clr);
}

#acceuil nav .links img {
  display: none;
}

#acceuil .links li a {
  display: inline-block;
  position: relative;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: bold;
  transition: var(--trans-time);
}

#acceuil .links li a::before,
#acceuil .links li a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  border-radius: 3px;
  background-color: var(--main-blue-clr);
  transition: all var(--trans-time);
}

#acceuil .links li a::before {
  width: 0;
}

#acceuil .links li a.active::before {
  width: calc(100% - 30px);
}

#acceuil .links li a:hover::before {
  width: calc(100% - 30px);
}

#acceuil .container {
  width: 100%;
  height: calc(100% - 132px);
  display: flex;
  align-items: center;
}

#acceuil .content {
  position: relative;
  margin-left: 5rem;
  color: #fff;
}

#acceuil .content::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: -2.5rem;
  width: 1px;
  background-color: var(--main-blue-clr);
  opacity: 0.5;
  animation: expand-up 1.5s ease-in-out forwards;
}

#acceuil .content h1 {
  margin-bottom: 0.75rem;
  font-family: "Aldrich";
  text-transform: uppercase;
  font-size: 4rem;
}

#acceuil .content h5 {
  margin-bottom: 0.75em;
  color: var(--main-blue-clr);
  font-size: 1.3rem;
  font-weight: normal;
}

#acceuil .content p {
  margin-bottom: 2rem;
  text-align: justify;
  color: #fff;
  max-width: 700px;
}

#acceuil .content a {
  position: relative;
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

#acceuil .content a::before,
#acceuil .content a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  transition: all 0.5s;
  opacity: 0.8;
}

#acceuil .content a::before {
  top: 0;
  right: 0;
  border-top-right-radius: 4px;
  border-top: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
}

#acceuil .content a::after {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom: 2px solid #4d4d4d;
  border-left: 2px solid #4d4d4d;
}

#acceuil .content a:hover::before,
#acceuil .content a:hover::after {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 4px;
}

/* Aceuil section */

/* À propos de Nous section  */

#a-propos .container {
  display: flex;
  gap: 3rem;
}

#a-propos .container .image {
  max-width: 1300px;
}

#a-propos .container .image img {
  max-width: 100%;
  max-height: 100%;
}

#a-propos .content .special-heading {
  margin-bottom: 3rem;
  text-align: start;
}

#a-propos .content p {
  max-width: calc(100% - 70px);
  font-size: 19px;
  text-align: justify;
}

#a-propos .content p span {
  color: var(--main-black-clr);
  font-size: 23px;
  font-weight: bold;
}

/* À propos de Nous section  */

/* Nos Domaines d'activités */

#nos-domaines {
  background-color: var(--sec-section-bg);
}

#nos-domaines .domaines-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px 13px;
}

#nos-domaines .domaine {
  padding: 1rem;
}

#nos-domaines .domaine .image {
  margin-bottom: 2rem;
  width: 100%;
}

#nos-domaines .domaine .image img {
  max-width: 70px;
}

#nos-domaines .domaine h3 {
  margin-bottom: 2rem;
  font-family: "Aldrich";
}

/* Nos Domaines d'activités */

/* Nos Forces section */

#nos-forces {
  background-image: linear-gradient(to top, #004883, #003561);
}

#nos-forces .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#nos-forces .container .image img {
  max-width: 100%;
  max-height: 100%;
}

#nos-forces .container .image img:first-of-type {
  position: absolute;
  width: 120px;
  bottom: 20%;
  right: 0;
  animation: left-right 5s ease-in-out infinite;
  z-index: -1;
}

#nos-forces .container .content {
  max-width: 55%;
  color: #fff;
}

#nos-forces .content h4 {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: 500;
}

#nos-forces .content h4 span {
  font-size: 40px;
  color: var(--main-blue-clr);
}

#nos-forces .content p {
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

#nos-forces .content ul {
  margin-left: 2rem;
  max-width: calc(100% - 30px);
  line-height: 2.5;
}

#nos-forces .content ul li {
  position: relative;
  font-weight: 200;
  font-size: 15px;
  display: flex;
}

#nos-forces .content ul li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 19px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border: 2px solid var(--main-blue-clr);
  border-radius: 50%;
}

/* Nos Forces section */

/* Nos Technologies section */

#technologies {
  background-color: var(--sec-section-bg);
}

#technologies ul {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#technologies ul li {
  position: relative;
  color: #666;
  cursor: pointer;
  transition: all var(--trans-time);
}

#technologies ul li:not(:last-of-type):before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background-color: rgba(102, 102, 102, 0.377);
}

#technologies ul li.active {
  font-weight: 700;
}

#technologies ul li:hover,
#technologies ul li.active {
  color: var(--main-blue-clr);
}

#technologies .techs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 20px;
}

#technologies .techs-container .tech {
  position: relative;
  min-height: 200px;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 7px;
  display: none;
  transition: all var(--trans-time);
}

#technologies .techs-container .tech.show-tech {
  display: flex;
  animation: filter-animation 0.7s ease-out;
}

#technologies .techs-container .tech:hover {
  transform: translateY(-10px);
}

#technologies .techs-container .tech::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--main-blue-clr);
  transition: all var(--trans-time);
}

#technologies .techs-container .tech:hover::before {
  width: 50%;
}

#technologies .techs-container .tech img {
  max-width: 70px;
}

#technologies .techs-container .tech h4 {
  color: var(--main-black-clr);
  max-width: 70px;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Nos Technologies section */
